body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.base {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.base-content {
    background: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
}

hr.first {
    border: none;
    height: 2px;
    background-color: #dcdcdc;
    margin: 10px 0;
}

.email, .name, .password {
    margin-bottom: 50px;
    text-align: center;
}

h4 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
    border-color: #6e7f80;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

a {
    color: #6e7f80;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #4a5c5f;
}

.submit-button {
    background-color: #6e7f80;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #4a5c5f;
}