{% extends 'base.html'%}

{% block title %} Home {% endblock %}


{% block body %}

<!-- HERO SECTION -->
<div class="hero-container">

    <video autoplay loop muted plays-inline class="background-clip">
        <source src="{{url_for('static', filename='videos/hero-vid.mp4')}}" type="video/mp4">
    </video>

    <div class="content">
        <h1>Welcome to Vera</h1>
        <a href="#men-women">Start Shopping</a>

    </div>
    
</div>

<!-- SECTION 1 -->

<div class="section1" id="men-women">
    <div class="section1-imgs">
        <a href="{{ url_for('women') }}">
            <img src="{{ url_for('static', filename='images/section1-female.jpg') }}" alt="woman modelling ">
            <div class="description">
                <p>Go to women's fashion</p>
            </div>
        </a>
        <div class="description2">
            <p>Women</p>
        </div>
    </div>

    <div class="section1-imgs">
        <a href="{{ url_for('men') }}">
            <img src="{{ url_for('static', filename='images/section1-male.jpg') }}" alt="man modelling ">
            <div class="description">
                <p>Go to men's fashion</p>
            </div>
        </a>
        <div class="description2">
            <p>Men</p>
        </div>
    </div>
</div>
{% endblock %}