{% extends 'forms.html'%}

{% block title %} Login {% endblock %}

{% block body %}

<section class="base" id="base-signup"></section>
    <div class="base-content">
        <div class="form">
            <h3>
                Login <br> to shop
            </h3>
            
            <hr class="first">
            <form method="POST">
                {{ form.hidden_tag() }}

                <div class="email"><h4>Email Address</h4> {{ form.email(class="form-input") }} <hr> </div>
                <div class="password"><h4>Password</h4>{{ form.password(class="form-input") }} <hr></div>
               

                <div class="buttons">
                    <a href="/sign-up"> Sign Up</a>
                    {{ form.submit(class="submit-button") }}
                </div>


            </form>
        </div>
    </div>
</section>


{% endblock %}