{% extends 'base.html'%}

{% block title %} Men's Fashion {% endblock %}


{% block body %}

<!-- IMAGE SLIDER -->
<div class="slider-body">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1" checked>
            <input type="radio" name="radio-btn" id="radio2">

            <div class="slide first">
                <img src="{{ url_for('static', filename='images/man-slider1.jpg') }}" alt="">
            </div>
            <div class="slide">
                <img src="{{ url_for('static', filename='images/man-slider2.jpg') }}" alt="">
            </div>

            <div class="slide-text">
                <h1>Mens Fashion</h1>
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
            </div>

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
            </div>
        </div>

    </div>
</div>

<!-- SECTION 1-->

<div class ="container text-center shop-item" id="shop-men">
    <div class="row" style=" margin: 8px; background-color: #ccc;" id="column">

        <div class="col" style="background-color: #ffffff;">
            <img src="{{ url_for('static', filename='images/men-item1.jpg') }} " alt="" style="height: 360px; width: 280px; border-radius: 10px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: #000000;"> Jacket </h6>
            </div>

            <div class="row" style="margin-top: 10px;">

                <div class="col">

                    <h5 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">€ 60 </h5>
                    <strike><p style="color: #ccc;">€ 70</p></strike>
                </div>

                <div class="col">
                    <a href="#" class="btn btn-secondary">Add</a>
                </div>

            </div>    

            <div class="row">
                <p> 10 Items left</p>
            </div>

        
        </div>    

        <div class="col" style="background-color: #ffffff;">
            <img src="{{ url_for('static', filename='images/men-item2.jpg') }} " alt="" style="height: 360px; width: 280px; border-radius: 10px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: #000000;"> Wool Jumper </h6>
            </div>

            <div class="row" style="margin-top: 10px;">

                <div class="col">

                    <h5 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">€ 50 </h5>
                    <strike><p style="color: #ccc;">€ 65</p></strike>
                </div>

                <div class="col">
                    <a href="#" class="btn btn-secondary">Add</a>
                </div>

            </div>    

            <div class="row">
                <p> 10 Items left</p>
            </div>

        
        </div>    

        <div class="col" style="background-color: #ffffff;">
            <img src="{{ url_for('static', filename='images/men-item3.jpg') }} " alt="" style="height: 360px; width: 280px; border-radius: 10px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: #000000;"> Jacket </h6>
            </div>

            <div class="row" style="margin-top: 10px;">

                <div class="col">

                    <h5 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">€ 55 </h5>
                    <strike><p style="color: #ccc;">€ 60</p></strike>
                </div>

                <div class="col">
                    <a href="#" class="btn btn-secondary">Add</a>
                </div>

            </div>    

            <div class="row">
                <p> 10 Items left</p>
            </div>

        
        </div>    

        <div class="col" style="background-color: #ffffff;">
            <img src="{{ url_for('static', filename='images/men-item4.jpg') }} " alt="" style="height: 360px; width: 280px; border-radius: 10px;">

            <div class="row" style="margin-top: 5px;">
                <h6 style="color: #000000;"> Shirt </h6>
            </div>

            <div class="row" style="margin-top: 10px;">

                <div class="col">

                    <h5 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">€ 35 </h5>
                    <strike><p style="color: #ccc;">€ 40</p></strike>
                </div>

                <div class="col">
                    <a href="#" class="btn btn-secondary">Add</a>
                </div>

            </div>    

            <div class="row">
                <p> 10 Items left</p>
            </div>

        
        </div>    

    </div>       
</div>


{% endblock %}